/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset*/

body, html {
	height : 100%;
	text-align  : center;
	background-color : #fff;
	font-family : 'Roboto', sans-serif;
	min-width : 300px;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	font-size : 35px;
	margin : 3vh auto;
	color : #6441a5;
}

h2 {
	font-size : 26.25px;
	width : 90%;
	margin : 1vh auto;
}

h3 {
	font-size: 20.5px;
	margin : 1.5vh auto;
	line-height: 120%;
	display : inline-block;

}

h4 {
	font-size : 17.5px;
	margin : 1.5vh auto;
	line-height : 120%;

}

input {
	height : 100%;
	width : calc(100% - 42px);
	float : left;
	padding : 0 21px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition : box-shadow 300ms ease-in-out;
	border : none;
	font-size : 18px;
}

input:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.title-div {
	margin : 0;
}

.svg {
	width : 30%;
}

.streamer-search{
	width : 90%;
	height : 45px;
	border : none;
	background-color : #fff;
	margin : 1vh auto 1vh;
}

/*.search-bar-btn {
	width : 25%;
	height : 100%;
	float : left;
	background-color : #6441a5;
	color : #eee;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	border  :none;
	padding : 0;
}*/

.search-bar-btn:hover{
	background-color: #956dd7;
}

.refresh-streams {
	margin : 1vh 0;
	height : calc(34.3px + (8.6 * (100vh - 300px) / 468));
	width : 90%;
	font-size: calc(11px + (4 * (100vw - 350px) / 130));
	background-color : #6441a5;
	color : #eee;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition : all 300ms ease-in-out;
	border : none;
}

.refresh-streams:hover {
	background-color : #956dd7;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-result-div {
	width : 90%;
	background-color : #6441a5;
	margin : 1vh auto;
}

.button-span {
	display : none;
	text-align : right;
	width : 100%;
}

.close {
	font-size : 30px;
	border : none;
	background-color : #6441a5;
	color : white;
}

.close:hover {
	color : black;
}

.search-result-inner {
	margin : -5vh 0 0 0;
	color : white;
}

.tab-div {
	height : calc(34.3px + (8.6 * (100vh - 300px) / 468));
	width : 90%;
	border:  none;
	margin : 1vh auto 0;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.tab {
	display : inline-block;
	width : calc(30% - 2px);
	height : 100%;
	border : none;
	transition : all 300ms ease-in-out;
}

.big-tab {
	width  : calc(40% - 3px);
	display : inline-block;
	height : 100%;
	border : none;	
}

#freecodecamp {
	border-left : solid 2px #6441a5;
	border-right : solid 1px white;
}

#twitch{
	border-left : solid 1px white;
	border-right : solid 1px white;
}

#brad{
	border-left : solid 1px white;
	border-right : solid 1px #6441a5;
}

.tab-div button {
	width : 100%;
	height : 100%;
	border  : none;
	font-size: calc(11px + (4 * (100vw - 350px) / 130));
	background-color : #6441a5;
	color : #eee;
	padding : 0;
	transition : all 300ms ease-in-out;
}

.tab-div button:hover {
	background-color: #956dd7;
	color : #fff;
}

.inner-tab-div {
	display : inline-block;
	line-height : calc(34.3px + (8.6 * (100vh - 300px) / 468));
	height : 100%;
	width : 100%;
	pointer-events: none;
}

#active {
	border-bottom : solid 3px #fff;
	height : calc(100% - 3px);
	width : 95%;
}

.streams-div{
	width : 90%;
	margin : 0 auto 5%;	
	color : #fff;
	border  :none;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.featured {
	display : none;
	width : 100%;
	margin : 0 auto;
	padding : 3vh 0;
	background-color: #6441a5;
	border : none;
}

#show {
	display : block;
}

.navbar {
	height : calc(34.3px + (8.6 * (100vh - 300px) / 468));
	width : 100%;
	background-color: #eee;
	margin : 4vh 0 0 0;
}

.navbar-btn {
	background-color : #eee;
	color : black;
	height : 100%;
	width : calc(100% / 3);
	float : left;
	border : none;
	text-decoration : none;
	line-height : calc(34.3px + (8.6 * (100vh - 300px) / 468));
	font-size : 25px;
}

.navbar-btn:hover{
	color : #6441a5;
}

.outer {
  	position : relative;
  	width : 100%;
  	margin : 0 auto;
 	overflow : hidden;
 	transition : height 300ms ease-in-out;
}

.twitch-outer {
	display : flex;
	flex-flow : row wrap;
	justify-content: space-around;
}

.inner {
	display : flex;
	flex-flow : row wrap;
	justify-content : flex-start;
	align-content : flex-start;
 	position : absolute;
 	width : 100%;
 	transition : left 300ms ease-in-out;
 	padding : 0 0 3vh 0;
}

.online {
  	left : -100%;
}

.offline {
  	left : 100%;
}

.featured-streamer{
	display: flex;
	flex-flow : column wrap;
	justify-content: flex-end;
  	text-align : center;
	width : 90%;
	margin : 3vh auto;
}

.offline-streamer {
	display: flex;
	flex-flow : column wrap;
	justify-content : center;
  	text-align : center;
	width : 90%;
	margin : 3vh auto;
}

.placeholder{
	visibility : hidden;
  	text-align : center;
	width : 45%;
	margin : 3vh auto;
}

a {
	text-decoration: none;
	color : #fff;
}

a:hover {
	color : black;
}

.img {
	width : 95%;
	max-width : 320px;
	height : 180px;
	margin : 0 auto;
}

.status {
	width : 100%;
}

.logo {
	display : block;
	margin : 1vh auto;
	width : 30%;
}



@media (min-width : 480px){

	h1 {
		display : inline-block;
		margin : 0 2.5%;
		font-size : calc(35px + (35 * (100vw - 480px) / 1480));
	}

	h2 {
		font-size : calc(26.25px + (53 * (100vw - 480px) / 1480));
	}

	.svg {	
		width : 15%;
	}

	.title-div {
		margin : 2vh auto;
	}

	.tab-div button, .refresh-streams {
		font-size : calc(15px + (15 * (100vw - 480px) / 1540));
	}

	

}

@media (min-width : 768px) {

	.featured-streamer, .offline-streamer {
		width : 45%;
	}

}

@media (min-width : 1000px){

	.featured-streamer, .offline-streamer, .placeholder {
		width : 30%;
	}

}

@media (min-width : 1300px) {
	.featured-streamer, .offline-streamer, .placeholder {
		width : 22.5%;
	}
}

@media (min-height : 768px){

	.refresh-streams {
		height : 6%;
	}

	.tab-div {
		height : 6%;
	}

	.inner-tab-div {
		line-height : 6vh;
	}

	.navbar {
		height : 6vh;
	}

	.navbar-btn {
		line-height : 6vh;
	}

	.featured {
		padding-bottom : 0;
	}

}